.message-class{
	background-color: rgb(212, 177, 245);
	box-shadow: 0px 3px 6px 1px rgb(0 0 0 / 29%);
	margin: 10px;
	border: solid 1px rgb(10, 46, 154);
	text-align: center;
	border-radius:10px;
}

.text-class{
	font-size: 18px;
	font-weight: 600;
	
	color: rgb(10, 46, 154);
}

.text-class-name{
	font-size: 18px;
	font-weight: 600;
	color: rgb(144, 17, 17);
}