body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(69, 93, 177);
}

.app{
	max-width: 1200px;
	margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title{
	font-size: 30px;
	color: rgb(238, 234, 242);
	background-color: rgb(62, 146, 214);

	padding: 10px;
	text-align: center;
}

.form-wrap{
	width: 600px;
	padding: 5px;
	margin-top: 70px;

	border: solid 2px rgb(64, 175, 223);
	background-color: #fff;
	color: #da61bf;
	color: #826fd8;
}